<div id="lr">
	<div id="lrbuttons">
		<button id="loginFormButton" class="active" onclick="showLoginForm()">Log in</button>
		<button id="registerFormButton" onclick="showRegisterForm()">Create account</button>
	</div>
	<div id="lrforms">
		<form id="loginForm" onsubmit="return login()">
			<label>Username</label>
			<input id="loginUsername" type="text">
			<label>Password</label>
			<input id="loginPassword" type="password">
			<input type="submit" value="Log in" onclick="login()">
		</form>

		<form id="registerForm" style="visibility: hidden; onsubmit="return register()">
			<label>Username</label>
			<input id="registerUsername" oninput="regUsernameChange()" type="text">
			<label>Password</label>
			<input id="registerPassword" oninput="regPasswordChange()" type="password">
			<label>Repeat Password</label>
			<input id="registerPassword2" oninput="regPasswordChange()" type="password">
			<input type="submit" id="registerButton" value="Create Account">
		</div>
	</div>
</div>
<p id="inputErr" style="font-size: 1.5rem; font-weight: bold;"></p>
<script src="/static/loginregister.js"></script>
