<script>
	var lobbyId = "<%= lobbyId %>";
</script>
<div id="lobbies">
	<button id="createLobbyButton" onclick="createLobby()"<%=inLobby ? ' disabled' : ''%>>Create a lobby</button>
	<button onclick="refreshLobbies()">Refresh lobbies</button>

	<table id="lobbiesTable" style="display: none;">
		<tr>
			<th style="width: 30rem;">Lobby name</th>
			<th style="width: 10rem;">State</th>
			<th style="width: 10rem;"></th>
			<th style="width: 10rem;"></th>
		</tr>
	</table>

	<p id="noLobbies">There are no lobbies right now.</p>
</div>

<div id="game" style="display: none">
	<table id="gameBoard">
	</table>
</div>

<script src="/static/main.js"></script>
