<div id="lobbies">
	<button>Create a lobby</button>

	<table>
		<tr>
			<th>Lobby name</th>
			<th>State</th>
			<th></th>
		</tr>
		<tr>
			<td>sa6o's game</td>
			<td>Waiting for opponent</td>
			<td><button>Join</button></td>
		</tr>
		<tr>
			<td>sa6o's game</td>
			<td>Waiting for opponent</td>
			<td><button>Join</button></td>
		</tr>
		<tr>
			<td>sa6o's game</td>
			<td>Waiting for opponent</td>
			<td><button>Join</button></td>
		</tr>
		<tr>
			<td>sa6o's game</td>
			<td>Waiting for opponent</td>
			<td><button>Join</button></td>
		</tr>
	</table>

</div>

<script src="/static/main.js"></script>
