<script>
	var lobbyId = "<%= lobbyId %>";
</script>

<div id="lobbies">
	<button id="createLobbyButton" <%=inLobby ? ' disabled' : ''%>>Create a lobby</button>
	<button id="refreshLobbiesButton">Refresh lobbies</button>

	<table id="lobbiesTable" style="display: none;">
		<tr>
			<th style="width: 30rem;">Lobby name</th>
			<th style="width: 10rem;">State</th>
			<th style="width: 10rem;"></th>
			<th style="width: 10rem;"></th>
		</tr>
	</table>

	<p id="noLobbies">There are no lobbies right now.</p>
</div>

<div id="game" style="display: none">
	<div class="hand" id="opponentHand"></div>
	<div class="hand" id="myHand"></div>
	<div id="sidebar2">
		<div class="playerInfo">
			<p><span class="enemyMovePoints">0</span>/<span class="maxMovePoints">MAX</span> move points</p>
			<p class="strength"><span class="enemyStrength">?</span> strength</p>
		</div>
		
		<button id="readyButton"><span id="readyButtonText">Ready</span></button>

		<div class="playerInfo">
			<p class="strength"><span class="myStrength">0</span> <span>strength<span></p>
			<p><span class="myMovePoints">0</span>/<span class="maxMovePoints">MAX</span> move points</p>
		</div>
	</div>
	<div id="sidebar1" hidden></div>

	<div id="blindStageMessage">
		<h1>Blind Stage</h1>
		<p>Play up to 3 cards by dragging them on the board.</p>
		<p>Hit 'Ready' when done.</p>
		<p>The player with higher strength will then play first.</p>
	</div>

	<div id="message" hidden>
		This is a very important message
	</div>
</div>

<script src="/static/main.js"></script>
