:root {
	font-size: 14pt;
	--my-card: #47a9ff;
	--my-card-bg: #90d3e8;
}

body, html {
	margin: 0;
}

body {
	background: #241729;
	color: white;
	font-family: 'Noto Serif', serif;
}

#header {
	display: flex;
	align-items: baseline;

	font-family: 'Cinzel Decorative', cursive;
	font-weight: bold;
	padding: 1rem 4rem;

	margin: 0;
	list-style-type: none;
}

#header > * {
	flex: 0 0 0;
	margin: 0 1.2rem;
	white-space: nowrap;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none;     /* IE 10 and IE 11 */
	user-select: none;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	text-decoration: underline;
}


#header>.logo {
	flex: 1 0 0;
	font-size: 1.5rem;
}

#lr {
	background: #422642;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	min-width: 25rem;
	border-bottom: 2px solid #573757;
}

#lrbuttons {
	display: flex;
}

button,input {
	border: none;
	background: #553951;
	border-bottom: 2px solid #714e71;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0.3rem 0.3rem;
	box-sizing: border-box;
	transition: background 0.5s, border-bottom 0.5s, color 0.5s;
	margin: 0.2rem;
}

input[type=text]:focus, input[type=password]:focus, button:hover, input[type=submit]:hover {
	border-bottom: 2px solid #9b6991;
	background: #623959;
	transition: background 0.1s, border-bottom 0.2s, color 0.1s;
}

button, input[type=submit] {
	cursor: pointer;
	padding: 0.3rem 1rem;
}

button:disabled, input[type=submit]:disabled {
	cursor: inherit;
	color: #917d91;
	background: #573657;
	border-bottom: 2px solid #714e71;
}



#lrforms {
	padding: 1.3rem;
	padding-top: 0.9rem;
	display: grid;
}

#registerForm, #loginForm {
	/* overlap them */
	grid-column: 1;
	grid-row: 1;
}

#lr button, #lr label  {
	margin-top: 0.4rem;
	display: block;
}

#lr input[type=submit] {
	margin-top: .8rem;
}


#lrbuttons > button {
	margin: 0;
	color: #b1a2b1;
	flex: 1 0 0;
	padding: 0.5rem 0rem;
	font-family: inherit;
	background: inherit;
	border: 0;
	font-size: 1.3rem;
	white-space: nowrap;
	border-bottom: 2px solid #573757;
}

#lr input[type=text], input[type=password] {
	width: 100%;
}

#lr label, #lr button, #lr input[type=submit] {
	display: block;
}

input:focus, button:focus {
	outline: none;
}

#lrbuttons > button:hover {
	background: #53314c;
	color: inherit;
}

#lrbuttons > button.active {
	color: inherit;
	cursor: inherit;
	background: #623959;
	border-bottom: 2px solid #9b6991;
}

table {
	border-collapse: collapse;
}

th {
	padding: 0.3rem;
	text-align: left;
	background: #4f304b;
}

table, tr, td, th {
	border: 1px solid #7b5777;
}

td {
	padding: 0.3rem;
}

td > button {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#game, #gameBoard {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	border: none;
	border-collapse: separate;
}

#game tr {
	border: 0;
}

#game td {
	width: 100px;
	height: 100px;
	margin: 5px;
	border: 0;
	padding: 0;
}

.myfield {
	background: #539299;
	border: 0;
	text-align: center;
}

.myfield:hover {
	background: #3ebcca;
}

.opponentfield {
	background: #9f356a;
}

.opponentfield:hover {
	background: #d72980;
}

.card {
	width: 68px;
	height: 82px;
	background: var(--my-card-bg);
	border: 8px solid  var(--my-card);
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card > .text {
	color: black;
	text-align: center;
	padding-top: 10px;
}

.card > .strength {
	position: relative;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	bottom: 15px;
	background: var(--my-card);
	color: white;
	font-weight: bold;
	text-align: center;
}

.card.dragged {
	position: absolute;
	pointer-events: none;
}

#myHand, #opponentHand {
	width: 100%;
	display: flex;
	gap: 10px;
}
