* {
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body, html {
	margin: 0;
	height: 100%;
	max-height: 100%;
	font-size: 14pt;
	--my-card:  #466185;
	--my-card1: #2471D6;
	--my-card2: #5ca2ff;
	--card-bg: #d1d1d1;
	--opponent-card: #ff4769;
	overflow: hidden;
}

:root {
}

#page {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
}

body {
	background: #241729;
	color: white;
	font-family: 'Noto Serif', serif;
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
	align-items: baseline;

	font-family: 'Cinzel Decorative', cursive;
	font-weight: bold;
	padding: 1rem 4rem;

	margin: 0;
	list-style-type: none;
}

#header > * {
	flex: 0 0 0;
	margin: 0 1.2rem;
	white-space: nowrap;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	text-decoration: underline;
}


#header > .logo {
	flex: 1 0 0;
	font-size: 1.5rem;
}

#lr {
	background: #422642;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	min-width: 25rem;
	border-bottom: 2px solid #573757;
}

#lrbuttons {
	display: flex;
}

button,input {
	border: none;
	background: #553951;
	border-bottom: 2px solid #714e71;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0.3rem 0.3rem;
	box-sizing: border-box;
	transition: background 0.5s, border-bottom 0.5s, color 0.5s;
	margin: 0.2rem;
}

input[type=text], input[type=password] {
	user-select: unset;
	-webkit-user-select: unset;
	-ms-user-select: unset;
}

input[type=text]:focus, input[type=password]:focus, button:hover, input[type=submit]:hover {
	border-bottom: 2px solid #9b6991;
	background: #623959;
	transition: background 0.1s, border-bottom 0.2s, color 0.1s;
}

button, input[type=submit] {
	cursor: pointer;
	padding: 0.3rem 1rem;
}

button:disabled, input[type=submit]:disabled {
	cursor: inherit;
	color: #917d91;
	background: #573657;
	border-bottom: 2px solid #714e71;
}



#lrforms {
	padding: 1.3rem;
	padding-top: 0.9rem;
	display: grid;
}

#registerForm, #loginForm {
	/* overlap them */
	grid-column: 1;
	grid-row: 1;
}

#lr button, #lr label  {
	margin-top: 0.4rem;
	display: block;
}

#lr input[type=submit] {
	margin-top: .8rem;
}


#lrbuttons > button {
	margin: 0;
	color: #b1a2b1;
	flex: 1 0 0;
	padding: 0.5rem 0rem;
	font-family: inherit;
	background: inherit;
	border: 0;
	font-size: 1.3rem;
	white-space: nowrap;
	border-bottom: 2px solid #573757;
}

#lr input[type=text], input[type=password] {
	width: 100%;
}

#lr label, #lr button, #lr input[type=submit] {
	display: block;
}

input:focus, button:focus {
	outline: none;
}

#lrbuttons > button:hover {
	background: #53314c;
	color: inherit;
}

#lrbuttons > button.active {
	color: inherit;
	cursor: inherit;
	background: #623959;
	border-bottom: 2px solid #9b6991;
}

table {
	border-collapse: collapse;
}

th {
	padding: 0.3rem;
	text-align: left;
	background: #4f304b;
}

table, tr, td, th {
	border: 1px solid #7b5777;
}

td {
	padding: 0.3rem;
}

td > button {
	box-sizing: border-box;
	margin: 0;
	width: 100%;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#game {
	font-size: 4vh;
	height: 100%;
	display: grid;
	flex-direction: column;
	grid-template-columns: 1fr 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 37.5vh;
	grid-template-rows: repeat(8, 12.5vh);
	overflow: hidden;
}

#sidebar1 {
	grid-column: 9;
	grid-row: 2 / span 6;
	font-size: 3vh;
	color: #bd91a5;
	text-align: center;
	background: #241729;
}

#sidebar1 h1 {
	font-size: 0.9em;
	border-bottom: 0.2vh solid #bd91a5;
	margin-bottom: 0;
	margin-top: 5vh;
	text-align: left;
}

#sidebar2 {
	padding: 2vh;
	grid-column: 9;
	grid-row: 2 / span 6;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#sidebar2 * {
	margin: 0;
	padding: 0;
}



@media (min-aspect-ratio: 13/8) {
	#game {
		grid-template-columns: 3fr 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 12.5vh 3fr;
		grid-template-rows: repeat(8, 12.5vh);
	}

	#sidebar1 {
		grid-column: 1;
	}
}

#myHand {
	grid-row: 8;
}
#opponentHand {
	grid-row: 1;
}

#myHand, #opponentHand {
	grid-column: 1 / span 9;
	display: flex;
	gap: 1.5vh;
	align-items: center;
	justify-content: center;
}


.field {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	position: relative;
	background: #573657;
}

.field > .card, .field > .placeholder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.card {
	font-size: 2.5vh;
	position: relative;
	z-index: 5;
	background: var(--card-bg);
}

.card, .placeholder {
	outline: 0.8vh solid  var(--my-card);
	outline-offset: -0.3vh;
}

.opponentcard {
	--my-card: var(--opponent-card);
}

.card, .placeholder, .card > .text {
	width: 9vh;
	height: 11vh;
	line-height: 8.5vh;
}

.card > .text {
	position: relative;
	color: black;
	text-align: center;
	margin: 0;
	top: 0;
	left: 0;
}

.card > .strength {
	bottom: 0;
	left: 0;
	margin: 0;
	position: absolute;
	width: 4vh;
	height: 4vh;
	line-height: 4vh;
	text-align: center;
	color: black;
	font-weight: bold;
	background: var(--my-card);
}

.card.dragged {
	position: absolute;
	pointer-events: none;
	--my-card: var(--my-card2);
}

#game.dragging {
	cursor: no-drop;
}

#game.canPlay > #myHand > .card,
#game.canMove > .field  > .mycard,
#game.canActive > .field > .mycard.hasActive
{
	cursor: grab;
	--my-card: var(--my-card1);
}

#game.canActive > .field > .mycard.hasActive {
	cursor: pointer;
}

#game.canPlay > #myHand > .card:hover,
#game.canMove > .field  > .mycard:hover,
#game.canActive > .field > .mycard.hasActive:hover
{
	--my-card: var(--my-card2);
}

.field.actionable,
#myHand.actionable
{
	background: #754b75;
	cursor: grabbing;
}

.field.actionable:hover,
#myHand.actionable:hover {
	background: #a859a8;
}


#blindStageMessage {
	z-index: 10;
	grid-row: 2 / span 3;
	grid-column: 2 / span 7;
	text-align: center;
	background: rgba(0,0,0,0.8);
	margin: 6vh;
	box-shadow: 0 0 4vh 8vh rgba(0,0,0,0.8);
	font-size: 2vh;
}

#blindStageMessage > h1 {
	margin: 0;
	margin-bottom: 3vh;
}

#blindStageMessage > p {
	margin: 0;
	margin-bottom: 1vh;
}

.stage2 {
	flex: 0 0 0;
	font-size: 2.5vh;
	text-align: center;
}

.playerInfo {
	flex: 2 0 0;
}

.strength {
	display: flex;
	align-items: center;
	gap: 2vh;
}

.myStrength, .enemyStrength {
	font-size: 10vh;
	font-weight: bold;
}

.readyButtonContainer {
	max-width: 32vh;
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
}

#readyButton {
	flex: 1 0 0;
}

.damageText, .healText {
	position: absolute;
	z-index: 15;
	background: rgba(255, 0, 0, 0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: red;
	margin: 0;
	padding: 0;
	font-size: 5vh;
	text-align: center;
	-webkit-text-stroke: 1px black;
}

.healText {
	background: rgba(0, 255, 0, 0.5);
	color: green;
}
